<!DOCTYPE html>
<html>
<head>
    <title>Collaborative Drum Machine</title>
</head>
<body>
    <h1>Collaborative Drum Machine</h1>
    <p>React frontend will be served separately on port 3000</p>
    <p>WebSocket server running on this port</p>
</body>
</html>